## React
src/CareerCenterSystem/resources/react_jsx/node_modules/
**/.DS_Store

### Django ###
*.log
*.pot
*.pyc
**/__pycache__/
/src/CareerCenterSystem/db.sqlite3
/src/CareerCenterSystem/resources/static/js/
/src/CareerCenterSystem/resources/react_jsx/pachage-lock.json