{% extends "base.html" %}

{% block title %}ユーザー情報{% endblock %}

{% block styles %}
{% endblock %}

{% block headertitle %}ユーザー情報{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-6"><h3>ユーザー情報</h3></div>
</div>
<div class="row justify-content-md-center">
    <div class="col-2">ユーザー名：</div>
    <div class="col-4">{{user.username}}</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-2">名前：</div>
    <div class="col-4">{{user.last_name}} {{user.first_name}}</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-2">名前（かな）：</div>
    <div class="col-4">{{user.last_name_kana}} {{user.first_name_kana}}</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-2">メールアドレス：</div>
    <div class="col-4">{{user.email}}</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-2">電話番号：</div>
    <div class="col-4">{{user.phone_number}}</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-6">
        <a type="button" class="btn btn-primary btn-block" href="/accounts/user/update/">登録情報変更</a>
    </div>
</div>
{% endblock %}