{% extends "base.html" %}

{% block title %}ユーザー情報変更{% endblock %}

{% block styles %}
{% endblock %}

{% block headertitle %}ユーザー情報変更{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="header"><h3>ユーザー情報</h3></div>
        <form class="ui form" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <a type="button" class="btn btn-warning">更新</button>
        </form>
        <a href="/accounts/user/detail/">ユーザー情報に戻る</a>
    </div>
</div>
{% endblock %}